#header2-2 P {
  color: #ffffff;
}
#header2-2 B {
  color: #ffffff;
}
#menu-3 .navbar-toggler {
  color: #000;
}
#menu-3 .nav-link {
  font-size: 16px;
}
#slider-7 P {
  color: #ffffff;
}
#slider-7 H2 {
  color: #ffffff;
}
#msg-box4-9 .mbr-section-title {
  text-align: left;
}
#msg-box4-9 .lead P {
  text-align: left;
  font-size: 16px;
}
#msg-box4-9 .lead UL {
  text-align: left;
  font-size: 14px;
}
#msg-box4-f .mbr-section-title {
  text-align: left;
}
#msg-box4-f .lead P {
  text-align: left;
  font-size: 16px;
}
#msg-box4-f .lead UL {
  text-align: left;
  font-size: 14px;
}
#msg-box4-f .lead {
  text-align: left;
  font-size: 14px;
}
#contacts2-l P {
  color: #000000;
}
#contacts2-l STRONG {
  color: #000000;
}
